*{
    border: 0px;
    padding: 0%;
    margin: 0%;
}
body{
    background-color: rgb(62, 62, 85);
    color: white;
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    /* color: rgb(255, 253, 253); */
}

button a{
    text-decoration: none;
    color: white;
}

button{
    margin-left: 30px;
    margin-top: 20px;
    /* width: 500px; */
    background-color: black;
    font-weight: bold;
    width: 80px;
    height:30px;
    border-radius: 10px;
}
    
button:hover{
    /* background-color: rgb(62, 62, 85); */
    transform: scale(1.1); /* Scale up the image by 10% on hover */
    transition: transform 0.3s ease;
}

* {box-sizing:border-box}

/* Slideshow container */
/* .slider {
    max-width: 50%;  Adjust the maximum width to make it smaller 
    width: 300px; 
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: row;
} */
 


/* Make the images invisible by default */
.slider{
    max-width: 1010px;
    /* min-width: 200px; */
    position: relative;
    margin: 30px;
    display: flex;

    flex-direction: row;
    /* border: 2px solid black; */
    border-radius: 20px

}
.slide-image {
  display: none;
  /* width:50% ; */

}

/* forward & Back buttons */
.Back, .forward {
  cursor: pointer;
  position: absolute;
  top: 48%;
  width: auto;
  margin-top: -23px;
  padding: 17px;
  color: grey;
  font-weight: bold;
  font-size: 19px;
  transition: 0.4s ease;
  border-radius: 0 5px 5px 0;
  user-select: none;
}

/* Place the "forward button" to the right */
.forward {
  right: 0;
  border-radius: 4px 0 0 4px;
}

/*when the user hovers,add a black background with some little opacity */
.Back:hover, .forward:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption Info */


/* Worknumbering (1/3 etc) */
.num {
  color: #f2f2f3;
  font-size: 14px;
  padding: 10px 14px;
  position: absolute;
  top: 0;
}

/* The circles or bullets and indicators */
.dot-container {
    display: flex;
    justify-content: center; /* Horizontally center the dots */
    align-items: center;
    width: 1000px;
}
.dots {
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin: 0 3px;
  background-color: #acc;
  border-radius: 50%;
  display: inline-block;
  /* align-items: center; */
  transition: background-color 0.5s ease;
  max-width: 500px;
}

.enable, .dots:hover {
  background-color: #717161;
}

.slide-image img{
    width: 1000px;
    height: 450px;
    border-radius: 20px;
    
  }

  .about{
    margin: 30px;

  }

  .about p{
    padding-top: 20px;
    font-weight: 500;
  }

  .techstack{
    margin: 30px;
    padding-left: 100px;
  }

  .techstack p{
    padding-top: 20px;
    font-weight: 500;
  }
  .description{
    display: flex;
  }

 

  @media (max-width:786px){
    .slider{
        max-width: 260px;
        /* min-width: 200px; */
        position: relative;
        margin: 30px;
        display: flex;
    
        flex-direction: row;
    
    }

    .slide-image img{
        width: 350px;
        height: 200px;
        
      }
      .dot-container {
        display: flex;
        justify-content: center; /* Horizontally center the dots */
        align-items: center;
        width: 400px;
    }
    .dots {
        cursor: pointer;
        height: 6px;
        width: 6px;
        margin: 0 3px;
        background-color: #acc;
        border-radius: 50%;
        display: inline-block;
        /* align-items: center; */
        transition: background-color 0.5s ease;
        max-width: 400px;
      }
      body{
        max-width: 400px;

      }

      .description{
        display: block;
      }

      .techstack{
        margin: 30px;
        padding-left: 0px;
      }
      .forward {
        left: 300px;
        right: 10px; /* Adjust the distance from the right edge as needed */
        border-radius: 2px; /* Remove border radius to align with the right edge */
      }
  }