*{
    margin: 0%;
    border: 0px;
    padding: 0%;
}
body {
    background-color: black;
    /* width: 100%; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: black;
}

.thumbnails{
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px;
    /* text-align: center; */
    
}

.project {
    display: flex;
    max-width: 500px;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid #ccc; /* Add a border for clarity */
    background-color: rgb(62,62,85);
}

.project img {
    max-width: 200px; /* Adjust the maximum width of the image */
    margin-right: 10px; /* Add some spacing between image and text */
}

h2 {
    padding-left: 20px;
    color: white;
    margin: 0; /* Remove margin for <h2> elements */
}

.project:nth-child(1):hover {
    /* Add your hover styles for the first project here */
    background-color: rgb(105, 105, 120); /* Example: Change the background color to red */
    /* background-color: red;  */
    cursor: pointer;/* Example: Change the background color to red */
}
.project:nth-child(2):hover {
    /* Add your hover styles for the first project here */
    background-color: rgb(105, 105, 120); /* Example: Change the background color to red */
    cursor: pointer;/* Example: Change the background color to red */
    /* width: 550px; */

}
.project:nth-child(3):hover {
    /* Add your hover styles for the first project here */
    background-color: rgb(105, 105, 120); /* Example: Change the background color to red */
    cursor: pointer;/* Example: Change the background color to red */

}

.project:hover img {
    transform: scale(1.1); /* Scale up the image by 10% on hover */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}
@media screen and (max-width: 768px) {
    .container {
     height: 1000px;

    }

    .project{
        width: 350px;
    }
    /* Adjust other styles for smaller screens */
  }