*{
    /* overflow-x: hidden; */
    border: 0px;
    padding: 0%;
    margin: 0%;
}
html body{
    /* overflow-x: hidden; */
    max-width: 100%;
    border: 0px;
    margin: 0%;
    padding: 0%;
}
.navbar{
    display: flex;
    width: 100%;
    height: 40px;
    background-color: rgb(62, 62, 85);
}
.navbar p{
    padding: 9px;
    color: rgb(255, 255, 255);
    font-weight: 800;
    font-size: larger;
}
.profilecontainer{
    /* width: 1000px; */
    height: 500px;
    max-width: 100%;
    background-color: black;
}
.slantline{
    width: 106%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    transform: rotate(20deg);
    transform-origin: 0 0;
    opacity: 0; /* Initially, make it transparent */
    animation: fadeIn 2s ease-in-out forwards; /* Apply the fadeIn animation */
}

@keyframes fadeIn {
    0% {
        opacity: 0; /* Start with full transparency */
    }
    100% {
        opacity: 1; /* End with full opacity */
    }
}

.circular-image img{
    border-radius: 50%;
    width: 150px;
    position: relative;
    right: -400px;
    top: 100px;
}

/* .skill-section{
    display: flex;
    height: 150px;
    background-color: blueviolet;

} */

.skill-section{

   display:grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
   /* grid-auto-flow: column;  */
   gap: 20px; /* Adjust the gap between grid items */
   justify-content: center; /* Horizontally center grid items */
   align-content: center; /* Vertically center grid items */
   padding: 20px; 
   max-width: 100%;
   background-color: rgb(62, 62, 85);
   color: white;
}

.skill{
    text-align: center;
    background-color: #000000; /* Background color of each grid item */
    padding: 1px; /* Add padding to each grid item as needed */
    border: 1px ; /* Add a border to each grid item */
    border-radius: 20px;

}
.skill img{
max-width: 30%; /* Ensure images do not exceed the width of their container */
height: auto;
}
.skill p{
        color: rgb(255, 255, 255);
        margin-top: 10px; /* Add space below the image */
        font-weight: bold; /* Make the skill label bold */
    }

.profilecontainer p{
    color: white;
    font-weight: 900;
    font-size: 50px;
    /* transform: translate(120px,200px);
     */
    position: relative;
    top: 100px;
    right: -180px;
}
/* Add this CSS to your existing stylesheet */
/* ... Your existing CSS rules ... */

/* For screens smaller than 768px (typical mobile devices) */

.skill-head h2{
    background-color: rgb(62, 62, 85);
    color: white;
    padding: 10px;
    text-align: center;

}
.skill-section h3{
    /* text-align: center; */

    padding-top: 40px;
    padding-left: 40px;
    
}


.frontend{
    grid-column-start: span 1;
}
.backend{
    grid-column-start: span 1;
}
.database{
    grid-column-start: 1;
}
.tools{
    grid-column-start: 1;

}
.footer{
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 30px;
    padding-left: 150px;
    display: flex;
}

.footer .contactme h2{
    text-align: left;
}
.contactme p{
    padding-top: 10px;
}

.contactme #message{
    /* height: 100px; */
    width: 150px;
    height: 100px;

}

.contactme button{
    font-weight: bold;
    width: 60px;
    border-radius: 4px;
}

.contactme button:hover{
    background-color: rgb(62, 62, 85);
}

.aboutme{
    padding-left: 200px;
    max-width: 500px;
    text-align: center;
}

.footer-socials{
    padding-left: 200px;
    text-align: center;

}

.footer-socials i{
    padding: 10px;
    padding-top: 30px;

}
.footer-socials i:hover{
    cursor: pointer;
}



.profilecontainer button a{
    color: white;
    font-size: large ;
    font-weight: bold;
    text-decoration: none;
    
}

.profilecontainer button{
    width: 100px;
    height: 40px;
    /* transform: translate(140px,190px); */
    position: relative;
    right: 120px;
    top:150px;
    border-radius: 5px;
    background-color: rgb(62, 62, 85);
}

.profilecontainer button:hover{
    width: 110px;
    height: 45px;
}
 .navbar .header-socials{
    text-align: right;
    padding: 10px;
    margin-left: auto;
 }

 .navbar .header-socials i{
    /* padding-top: 100px; */
    padding: 5px;
    text-align: right;
 }

 .skill img{
    text-align: center;
    padding-top: 20px;
    
 }

 p{
    display: inline-block;
 }

 span{
    display: block;
 }

 @media (max-width: 600px) {
    .profilecontainer {
        height: 300px; /* Decrease the height as needed for mobile */
    }

    .circular-image img {
        width: 100px; /* Decrease the image width for mobile */
        position: relative;
        right: -170px;
        top: 30px;/* Remove the translation for mobile */
    }

    .profilecontainer p {
        font-size: 30px; /* Decrease the font size for mobile */
        position: relative;
        right: -70px;
        top: 50px; /* Remove the translation for mobile */
    }
    .slantline-1{
        width: 150%;
        max-width: 100%;

        height: 1.5px;
        background-color: rgb(255, 255, 255);
        transform: rotate(-20deg);
        transform-origin: 400px 200px;
        animation: fadeIn 3s ease-out forwards ;
    }

    body{
        max-width: 100%;
       
        overflow-x: hidden; 
        border: 0px;
        margin: 0%;
        padding: 0%;
        
    }

    .footer{
        display: block;
        padding-left: 20px;
        
    }
    .contactme{
        padding-left: 125px;
    }



    .aboutme{
        padding-top: 30px;
        padding-left: 0%;
        
            /* padding-left: 200px; */
            max-width: 500px;
            text-align: center;
    
    }
    .footer-socials h2{
        padding-top: 20px;
        display: flex;
        flex-direction: left;
        padding-left: 0px;
    }
    .footer-socials i{
        display: flex;
        flex-direction: row;
        padding-left: 0px;
    }
 .profilecontainer button{
    position: relative;
    right: 130px;
    top: 100px; }
 span{
    display: block;
 }

 /* *{
    overflow-x: hidden;
 } */
}
